.titulo {
color: aqua;
    font-style: italic;
background: blue;
,klkmlklmkl
}

body{
    background-color: white;
}

.cabecalho{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 0);
}