.cabecalho {
color: aqua;
    font-style: italic;
background: rgb(172, 8, 8);
margin-top: -8px;
margin-left: -8px;
height: 70px;
margin-right: -8px;

}

body{
    background-color: rgb(24, 22, 22);
}


#logo_homepage {

height: 150px;
width: auto;
margin: -25px;
margin-left: -10px;
background: black;

}