<!DOCTYPE html>
<html lang="pt-BR">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/pagina_inicial/css/estilos.css" />
  <title>VersusHub</title>
</head>




<body>
  <!-- HEADER -->
  <header class="header">
    <button class="menu-button">
      <img src="/images/pngtree-menu-icon-image_1344445.png" alt="menu">
    </button>



    <a href="/index.html" class="logo">
      <img src="/image/logo plus tipo textura.png" alt="VersusHub Logo">
    </a>




    <nav class="header-center-buttons">
      <button>Ao Vivo</button>
      <button>Criar Torneio</button>
      <button>Equipes</button>


      <a href="/login/login.html"><button id="btentrar">Entrar</button></a>




      <a href="/cadastro/cadastro.html"><button id="btcadastrar">Cadastrar-se</button></a>


    </nav>


    <div class="user-icon">
      <img src="/image/boneco_logo_ofc.png" alt="Usuário" id="userBtn">


      <ul id="menuUser" class="hidden">




        <li><a href="/login/login.html"> <img src="/image/icone-de-login.png" alt="" id="portalogin"> Login</a></li>
        <hr>
        <li><a href="/cadastro/cadastro.html">Cadastro</a></li>
      </ul>
    </div>


  </header>

    <!-- PARTE DE BAIXO DO SITE< CHAMADA DE FOOTER -->

    <footer>

      <div id="footer_content">
        <div id="footer_logo">
          <img src="/image/logo.png" alt="" id="logofooter">

        </div>
      
      <div id="footer_sobrenos">

         <h1>Sobre Nós</h1>

         <p>O Versus Hub é uma plataforma criada para conectar jogadores, organizadores e fãs de e-sports em um só lugar. Oferecemos torneios competitivos, rankings dinâmicos e recompensas exclusivas para quem ama competir. Nosso objetivo é tornar a experiência gamer mais acessível, divertida e profissional — seja você um iniciante ou um pro player.</p>

      </div>

      <div id="footer_versushub">

         <h1>Versus Hub</h1>

          <p>
              Torneios e Rankings atualizados <br> 
              Sistema seguro e fácil de participar <br>
              Suporte ativo todos os dias
          </p>


      </div>
      
      <div id="footer_politicas">

          <h1>Políticas</h1>
          <li>
              Termos de uso  </li>
<li>
  Política de Privacidade  </li>
   <li>
  Política de Reembolso (para eventos pagos) </li>

 </div>
    </div>
  
     
     

     

     



     


  </div>


    
    </footer>

<!-- --------------------------------------------------- -->

  </div>
  </div>


  <script src="/pagina_inicial/js/scrip.js"></script>
</body>


</html>


