<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login/css/login.css">
    <title>VersusHub_Login</title>
</head>
<body>
    <!-- Criando o Header da Pagina-->
    <header class="barranav">
        <div class="logo">
        
          <a href="/equipe/css/template.css"> <img class="versusicon" src="/image/logo plus tipo textura.png" alt="Logo"> 

            </a>

      

               

        </div>
    </header>

    <!-- Criando o Formulario da Aba Login -->
        <div class="container">
            <div class="form-box">
                <div class="avatar">
                    <img src="/image/boneco logo.png" alt="avatar">
                    
                </div>
        
                <h2 id="cadastrop">Login</h2>

                <form action="">
                    
                    <input type="email" placeholder="E-mail" required>
                    <input type="password" placeholder="Senha" required>

                    
                    <button type="submit" class="btn">Cadastrar</button>

                </form>
                  <a id="cliquecadastro" href="/cadastro/cadastro.html">Ainda não possui uma conta? Clique para Cadastrar-se </a>


            </div>
        </div>
<script src="/equipe/js/scrip.js"></script>
</body>
</html>


https://prod.liveshare.vsengsaas.visualstudio.com/join?F75A7A537127B8D4C971DFCDD5E4E4398FD8
