 /* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }




/* Base */
body {
 background: linear-gradient(#0e0e0e);
  height: 120vh;

 
  background-size: cover;
}




/* Header */
.header {
  width:min (100%);
  height: 64px;
  background: rgb(158, 8, 8);
  border-bottom: 3px solid rgb(38, 38, 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap: 12px;
}




.menu-button{
 
  background: none;
  border: none;
}




.menu-button img { width: 34px; height: 34px; display: block; background: none; border: none; }




.logo img { height: 52px; width: 170px; display: block; position: relative;}




.header-center-buttons {
  position: relative;


  left: 1%;
  background:none;
  display: flex;
  max-width: 70%;
  

 
  gap: 1%;
  flex: 1;
  justify-content: center;
 
}




.header-center-buttons button {
  background: #000000;
 position: static;
 
  border: 10px solid #b61313;
  color: #ffffff;
  padding: 6px 14px;
 
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}
.header-center-buttons button:hover {
  background: #a31313;
  filter: brightness(1.2);
  transform: scale(1.05);
}




.user-icon img { width: 34px; height: 34px; display: flex; transition:  0.3s ease-out; }




.user-icon:hover {


 
border-radius: 30px;
transform: scale(1.01 );
transition: 0.3s ease-in-out;


}


.logo {


position: relative;
right: 5%;


}


/* parte do menu quando clica aparece opções */


.user-icon {
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}


.user-icon img {
  width: 40px;
  cursor: pointer;
}


/* menu escondido */
#menuUser {
  list-style: none;
  margin: 2px;
  padding: 10px;
  width: 550%;
  height: 150px;
  background: #252531;
  border-radius: 15px;
  border: 3px solid #000000;
  position: absolute;
  top: 36px;
  right: -13px;
  display: none;
}


#menuUser:hover {


 
  transform: scale(1);
 
box-shadow: none;


}


#menuUser li {
  position: relative;
  top: -38px;
  left: 35px;
  margin: 15px ;


  margin-bottom: 14px;
}


#menuUser li a {
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}


#btcadastrar {


position: relative;
left: 345%;
height: 40px;
font-size: 16px;
top: 5px;
font-weight: bold;
border: #000 2px solid;
background: #d41111;
border-radius: 20px;
}


#btentrar {


position: relative;
left: 500%;
width: 90px;
font-size: 16px;
top: 5px;
height: 40px;
font-weight: bold;
border: solid 2px black;
background: rgb(71, 67, 67);
border-radius: 40px;




}


#btentrar:hover{


  transition: 10ms ease-in-out;
transform: scale(1.03);
filter: brightness(1.3);
 


 
}






#btcadastrar:hover{


transform: scale(1.03);
filter: brightness(1.2);
 


 
}




#portalogin {


position: relative;
top: 29px;
right: 45px;




}




hr {
position: relative;
top: -35px;


}


/* PARTE DO FOOTER */


footer{
  position: relative;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: aliceblue;
  padding: 0;
  margin: 0;
}

footer h1{
  color: rgb(255, 123, 0);
}

#footer_content {

padding: 30px; 
padding-bottom: 80px;
background-color:rgb(158, 8, 8);
display: grid;  
grid-template-columns: repeat(5, 1fr);
gap: 100px;
}


#logofooter {


  height: 72%;
  width: 72%;
  object-fit: cover;


}

