*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
    background-color: #000;
    background-image: url('/images/Image_fx\ \(9\).jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.barranav {
  width: 100%;
  background-color: #b60000;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img.versusicon{
    width: 270px;
    height: 55px;
}

.logo img.menu{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* === Container do Formulário === */
.container{
    margin-top: 100px;
    width: 35rem;
    background: #b60000;
    border-radius: 20px;
    box-shadow: 0 0 20px #ff0000;
    padding: 65px;
}

.form-box {
    text-align: center;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #b60000;
    padding: 10px;
    margin-bottom: 20px;
}

form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    outline: none;
}

form input::placeholder {
  color: #888;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin-top: 30px;
}

.checkbox-container input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    height: 50%;
    margin-right: 15px;
}

button {
  margin-top: 20px;
  width: 100%;
  background: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff0000;
  color: white;
}