
body{
 
 
   background: linear-gradient(rgb(5, 5, 10), rgb(16, 13, 36));
  
 
  font-family: Arial, sans-serif;
  overflow-x: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.barranav {
  width: 100%;
   background: rgb(158, 8, 8);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}




.logo {
position: relative;
background-color: none;
width: fit-content;
left: -1px;
}

.logo img { height: 52px; width: 170px; display: block; position: relative;}

/* === Container do Formulário === */
.container{
    margin-top: 100px;
    width: 20%;
    height: 500px;
    background: linear-gradient(rgb(13, 9, 49),rgb(18, 19, 82));
    border-radius: 100px;
    box-shadow: 0 0 39px #ff0000;
    padding: 65px;
}

.form-box {
    text-align: center;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px red;
    padding: 10px;
    margin-bottom: 20px;
}

form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: solid 8px black;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    outline: none;
}

form input::placeholder {
  color: #888;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272424;
    color: rgb(248, 248, 248);
    font-size: 17px;
    margin-top: 30px;
}

.checkbox-container input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    height: 50%;
    margin-right: 15px;
}

button {
  margin-top: 20px;
  width: 100%;
  background: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff0000;
  color: white;
}