.equipes-page {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: system-ui, sans-serif;
  color: #fff;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.btn-criar {
  padding: 10px 18px;
  background: #2f2d2d;
  border: 2px solid #ff0000;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: right;
transition: 0.7s;
}

.btn-criar:hover {

  background: #dc0b0bd1;
  border: 2px solid #e6e4ec83;
  border-radius: 999px;
  color: #ffffff;
  filter: brightness(1.2);
  cursor: pointer;
  font-weight: bold;
transition: 0.7s;
}




.lista-equipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card-equipe {
  background: #141419;
  border: 2px solid #2c2c3b;
  border-radius: 12px;
  overflow: hidden;
  transition: .2s;
}

.card-equipe:hover {
  border-color: #d41111;
  transform: translateY(-4px);
}

.card-equipe img {
  width: 100%;
  height: 150px;
  object-fit: fill;
}

.card-info {
  padding: 12px;
}

.btn-detalhes {
  background: #d41111;
  border: none;
  padding: 8px 14px;
  border-radius: 999px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-top: 8px;
}
