 /* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }




/* Base */
body {
  background: linear-gradient(rgb(5, 5, 10), rgb(16, 13, 36));
  color: #680909;
  height: 120vh;
  
 
  background-size: cover;
}




/* Header */
.header {
  width: 100%;
  height: 64px;
  background: rgb(158, 8, 8);
  border-bottom: 3px solid rgb(38, 38, 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap: 12px;
}




.menu-button{
 
  background: none;
  border: none;
}




.menu-button img { width: 34px; height: 34px; display: block; background: none; border: none; }




.logo img { height: 52px; width: 170px; display: block; position: relative;}




.header-center-buttons {
  position: relative;


  left: 1%;
  background:none;
  display: flex;
  max-width: 70%;


 
  gap: 1%;
  flex: 1;
  justify-content: center;
 
}




.header-center-buttons button {
  background: #000000;
 position: static;
 
  border: 10px solid #b61313;
  color: #ffffff;
  padding: 6px 14px;
 
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}
.header-center-buttons button:hover {
  background: #a31313;
  filter: brightness(1.2);
  transform: scale(1.05);
}




.user-icon img { width: 34px; height: 34px; display: flex; transition:  0.3s ease-out; }




.user-icon:hover {


 
border-radius: 30px;
transform: scale(1.01 );
transition: 0.3s ease-in-out;


}


.logo {


position: relative;
right: 5%;


}


/* Carrossel */
.hero {
  width: 100%;
   
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}




/* Container do carrossel */
.carousel {


  position: relative;
  width: 58%;
  height: min(550px);
  box-shadow: rgba(252, 252, 252, 0.315) 1px 1px 30px;
   top: 22px;
  overflow: hidden;
  border-radius: 16px;
  border: 4px solid rgb(38, 38, 48);
  background: rgb(38, 38, 48);
  transition: 0.5s ease-in;
}


.carousel:hover {
transition: 0.5s ease-in-out;
cursor: pointer;
box-shadow: red 17px 17px 50px, rgb(190, 2, 2) -21px -11px 30px;


}






/* animação: gradualmente "clarear" o box-shadow até o estado normal */
.carousel.pulse {
  animation: shadowPulse 0.5ms ease-in-out ;
}






/* Cada slide */
.carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: ease-in-out 0.2s;
  border-radius: 16px;
}








.carousel-slide.active { opacity: 1; }








/* A IMAGEM DO SLIDE (SEM CORTAR) */
.carousel-slide img {
 
  position: relative;          
  width: 100%;
  height: 100%;
  object-fit: fill;          
  border-radius: 16px;




}








/* BOTÕES DE NAVEGAÇÃO */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 8px;
    background: rgba(0,0,0,0.55);
    transition: 0.25s;
    z-index: 10;      
}




/* Hover */
.carousel-button:hover {
    background: rgba(255, 0, 0, 0.568);
    transform: translateY(-50%) scale(1.2);
}




/* SETA ESQUERDA */
.carousel-button.prev {
    left: 10px;        
}
/* SETA DIREITA */
.carousel-button.next {
    right: 10px;      
}








/* ===== INDICADORES (bolinhas) ===== */
#carouselIndicators {


    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;


}




#carouselIndicators span {


  position: relative;
  top: 15px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: solid rgb(141, 131, 131) 2px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}




#carouselIndicators span.active {
   
    background: #ff0000;  
    border: solid white 1px;
    transform: scale(1.4);
    transform: border-color black;
    box-shadow: #ff0000 0px 4px 15px;
}










.btscategorias {
 top: 60px;
position: relative;
display: flex;
gap: 8px;
height: 140;
align-items: center;
justify-content: center;
background: none;
}


.btscategorias img {


height: 130px;
width: 130px;
}




.btscategorias button {


 margin: 0 20px;
  border: none;
background: none;
cursor: pointer;
pad: 0px;
transition: 0.3s ease-in-out;


}


.btscategorias button:hover {


transition: 0.5s ease-in-out;


transform: scale(1.1);


}




/* parte do menu quando clica aparece opções */


.user-icon {
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}


.user-icon img {
  width: 40px;
  cursor: pointer;
}


/* menu escondido */
#menuUser {
  list-style: none;
  margin: 2px;
  padding: 10px;
  width: 550%;
  height: 150px;
  background: #252531;
  border-radius: 15px;
  border: 3px solid #000000;
  position: absolute;
  top: 36px;
  right: -13px;
  display: none;
}


#menuUser:hover {


 
  transform: scale(1);
 
box-shadow: none;


}


#menuUser li {
  position: relative;
  top: -38px;
  left: 35px;
  margin: 15px ;


  margin-bottom: 14px;
}


#menuUser li a {
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}


#btcadastrar {


position: relative;
left: 345%;
height: 40px;
font-size: 16px;
top: 5px;
font-weight: bold;
border: #000 2px solid;
background: #d41111;
border-radius: 20px;
}


#btentrar {


position: relative;
left: 500%;
width: 90px;
font-size: 16px;
top: 5px;
height: 40px;
font-weight: bold;
border: solid 2px black;
background: rgb(71, 67, 67);
border-radius: 40px;




}


#btentrar:hover{


  transition: 10ms ease-in-out;
transform: scale(1.03);
filter: brightness(1.3);
 


 
}






#btcadastrar:hover{


transform: scale(1.03);
filter: brightness(1.2);
 


 
}




#portalogin {


position: relative;
top: 29px;
right: 45px;




}




hr {
position: relative;
top: -35px;


}


#divisacategorias {

position: relative;
top: 103px;
width: 90%;
left: 150px;
border: solid 1px rgb(34, 27, 59);

}


#joguinhosdestaque {
color: red;
border: solid black 3px;  
position: relative;
top: 95px;
right: -140px;
background: rgb(8, 8, 8);
width: fit-content ;
padding: 5px;
height: fit-content;
text-align: center;
border-radius: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 



}




  /* fileiras de torneios */


#fileiratorneios {


position: relative;
top: 70px;
background: blueviolet;
height: 400px;
margin: 0 auto;
width: 20%;
background: blueviolet;
height: 400px;
margin: 0 auto;
}






.torneiosdestacadosabaixo img {


width: 100%;
object-fit: fill;
max-height: 55%;


}


.filatorneios img {
  width: 400px;
  height: 300px
}


.torneioscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 150px;
}


.filatorneios{


background: rgb(14, 11, 32);
height: 500px;
border: solid rgb(44, 42, 42) 5px;
border-radius: 10px;
transition: 0.3s ease-in-out;
}


.filatorneios:hover {


transform: scale(1.1);
box-shadow: rgb(241, 7, 7) 1px 1px 10px, rgb(182, 182, 238) -1px -1px 10px;
transition: 0.3s ease-in-out;
}


#fileiratorneios1_3 {
float: right;
position: relative;




}


#joguinhosdestaque2 {
color: red;
border: solid black 3px;  
position: relative;
top: 100px;
right: -140px;
background: rgb(8, 8, 8);
width: fit-content;
padding: 7px;
text-align: center;
border-radius: 30px;
border-radius: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

#divisacategorias2 {

position: relative;
top: 105px;
border: solid 1px rgb(58, 55, 102);
 width: 90%;
left: 150px;


}


#h3nomejogo {

color: #7373a0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 10px ;
font-weight: bold;
}

#h2nometorneio {

margin-left: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;

}

footer{

margin-top: 80px;
height: 20%;
background: #9b1010;
width: 100%;
margin-bottom: 0  ;
}


#logofooter {

  height: 65%;
  width: 20;
  position: relative;
  right: 2.5%;


}

.h1dofooter {
color: cyan;
 font-size: 15px;
font-family:   'Arial Narrow Bold', sans-serif
 
}

#sobrenosft {

position: relative;
left: 13%;
bottom: 45%;
color: cyan;
 
font-family:   'Arial Narrow Bold', sans-serif


}

.paragrafosfooter {

color: white;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
font-size: 15px;
}

#parasobrenos {

position: relative;
 bottom: 55%;
left: 13%;
width: 20%;

}

#vshft {

position: relative;
left: 47%;
bottom: 107%;
}

#paravshft {
 
  position: relative;
  left: 47%;
  bottom: 103%;


}


#politicasft {

position: relative;
left: 75%;
bottom: 145%;


}

#parapolift {

position: relative;
left: 75%;
bottom: 140%;

}

.politicas {

position: relative;
bottom: 160%;

}

.versushubfooter {

position: relative;
bottom: 115%;


}


.sobrenosfooter {

position: relative;
bottom: 55%;

}

#linhafooter {

position: static;
border: solid 2px gray;
bottom: -100px;

}