 /* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }




/* Base */
body {
 background: linear-gradient(#0e0e0e);
  height: 120vh; 
  background-size: cover;
}




/* Header */

header {
  width: 100%;
  height: 70px;
  background: rgb(158, 8, 8);
  border-bottom: 3px solid rgb(38, 38, 48);
  margin-top: 0;
  overflow: visible; /* deixa o dropdown do usuário aparecer pra fora */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar {
   width: 100%;                /* ocupa a largura toda */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  /* esquerda – centro – direita */
  padding: 0 9px;            /* controla o “respiro” das bordas */
  background-color: rgb(158, 8, 8);
}


/* Bloco esquerdo: menu + logo */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Bloco direito: Entrar / Cadastrar / ícone usuário */

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.logo_header img {
  margin-top: 0;
  width: 150px;
  height: auto;
  display: block;
}

.menu_header img {
  height: 36px;
  width: 36px;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.menu_header img {
  position: relative;
 
  margin-top: 10px;
  background: none;
  height:57px;
  border: none;
}


/* botoes header */

.botoes_header {
  flex: 1;  
  position: relative;
  left: 20px;                     /* ocupa o espaço entre esquerda e direita */
  display: flex;
  justify-content: center;       /* centraliza de verdade */
  gap: 20px;
  border-radius: 24px;
  padding: 4px 16px;
  transition: 0.3s ease-in-out;
}

.botoes_header button {

background: #252531;
padding: 15px;
color: whitesmoke;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bolder;
border: solid 5px red;
transition: 0.2s ease-in-out;
}

.botoes_header button:hover{

transform: scale(1.1);
transition: 0.3s ease-in-out ;
filter: brightness(1.1);

}

/* -------------------------------- */

/* Botão ENTRAR */
#btentrar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #000;
  background: rgb(71, 67, 67);
  border-radius: 40px;
  color: #fff;
  text-decoration: none;
}

/* Botão CADASTRAR-SE */
#btcadastrar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #000;
  background: #d41111;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

#btentrar:hover,
#btcadastrar:hover {
 
  filter: brightness(1.05);
  transition: 0.4s ease-in-out;
}

#btentrar:hover {

 filter: brightness(1.4);
  transition: 0.4s ease-in-out;

}

.user-icon {
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}


.user-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}



.user-icon:hover {


 
border-radius: 30px;
transform: scale(1.03 );
transition: 0.3s ease-in-out;


}

/* FIM DO HEADER */




 
/* Carrossel */
.hero {
  width: 100%;
   
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}




/* Container do carrossel */
.carousel {
  position: relative;
  width: 58%;
  height: min(550px);
   top: 22px;
  overflow: hidden;
  border-radius: 16px;
  border: 4px solid rgb(38, 38, 48);
  background: rgb(38, 38, 48);
  transition: 0.3s ease-in-out;
}


.carousel:hover {
transition: 0.3s ease-in-out;
cursor: pointer;

border: solid 8px rgb(163, 8, 8)
}






/* animação: gradualmente "clarear" o box-shadow até o estado normal */
.carousel.pulse {
  animation: shadowPulse 0.5ms ease-in-out ;
}




/* Cada slide */
.carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: ease-in-out 0.2s;
  border-radius: 16px;
}



.carousel-slide.active { opacity: 1; }




/* A IMAGEM DO SLIDE (SEM CORTAR) */
.carousel-slide img {
 
  position: relative;          
  width: 100%;
  height: 100%;
  object-fit: fill;          
  border-radius: 16px;




}








/* BOTÕES DE NAVEGAÇÃO */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 8px;
    background: rgba(0,0,0,0.55);
    transition: 0.25s;
    z-index: 10;      
}




/* Hover */
.carousel-button:hover {
    background: rgba(255, 0, 0, 0.568);
    transform: translateY(-50%) scale(1.2);
}




/* SETA ESQUERDA */
.carousel-button.prev {
    left: 10px;        
}
/* SETA DIREITA */
.carousel-button.next {
    right: 10px;      
}








/* ===== INDICADORES (bolinhas) ===== */
#carouselIndicators {


    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;


}




#carouselIndicators span {


  position: relative;
  top: 15px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: solid rgb(141, 131, 131) 2px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}




#carouselIndicators span.active {
   
    background: #ff0000;  
    border: solid white 1px;
    transform: scale(1.4);
    transform: border-color black;
    box-shadow: #ff0000 0px 4px 15px;
}










.btscategorias {
 top: 60px;
position: relative;
display: flex;
gap: 8px;
height: 140;
align-items: center;
justify-content: center;
background: none;
}


.btscategorias img {


height: 170px;
width: 17 0px;
}




.btscategorias button {


 margin: 0 20px;
  border: none;
background: none;
cursor: pointer;
pad: 0px;
transition: 0.3s ease-in-out;


}


.btscategorias button:hover {


transition: 0.5s ease-in-out;


transform: scale(1.1);


}




/* parte do menu quando clica aparece opções */


.user-icon {

  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}


.user-icon img {
  width: 40px;
  cursor: pointer;
}


/* menu escondido */
#menuUser {
  list-style: none;
  margin: 2px;
  padding: 10px;
  width: 550%;
  height: 150px;
  background: #252531;
  border-radius: 15px;
  border: 3px solid #000000;
  position: absolute;
  top: 36px;
  right: -13px;
  display: none;
}


#menuUser:hover {


 
  transform: scale(1);
 
box-shadow: none;


}


#menuUser li {
  position: relative;
  top: -38px;
  left: 35px;
  margin: 15px ;


  margin-bottom: 14px;
}


#menuUser li a {
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}


#portalogin {


position: relative;
top: 29px;
right: 45px;




}




hr {
position: relative;
top: -35px;


}


#divisacategorias {

position: relative;
top: 103px;
width: 90%;
left: 150px;
border: solid 1px rgb(34, 27, 59);

}


#joguinhosdestaque {
color: red;
border: solid black 3px;  
position: relative;
top: 95px;
right: -140px;
background: rgb(8, 8, 8);
width: fit-content ;
padding: 5px;
height: fit-content;
text-align: center;
border-radius: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 



}




  /* fileiras de torneios */


#fileiratorneios {


position: relative;
top: 70px;
background: blueviolet;
height: 400px;
margin: 0 auto;
width: 20%;
background: blueviolet;
height: 400px;
margin: 0 auto;
}






.torneiosdestacadosabaixo img {


width: 100%;
object-fit: fill;
max-height: 55%;


}


.filatorneios img {
  width: 400px;
  height: 300px
}


.torneioscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 150px;
}


.filatorneios{


background: rgb(14, 11, 32);
height: 500px;
border: solid rgb(44, 42, 42) 5px;
border-radius: 10px;
transition: 0.3s ease-in-out;
}


.filatorneios:hover {


transform: scale(1.1);
box-shadow: rgb(241, 7, 7) 1px 1px 10px, rgb(182, 182, 238) -1px -1px 10px;
transition: 0.3s ease-in-out;

 
}


#fileiratorneios1_3 {
float: right;
position: relative;

}


#joguinhosdestaque2 {
color: red;
border: solid black 3px;  
position: relative;
top: 100px;
right: -140px;
background: rgb(8, 8, 8);
width: fit-content;
padding: 7px;
text-align: center;
border-radius: 30px;
border-radius: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

#divisacategorias2 {

position: relative;
top: 105px;
border: solid 1px rgb(58, 55, 102);
 width: 90%;
left: 150px;


}


#h3nomejogo {

color: #7373a0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 10px ;
font-weight: bold;
}

#h2nometorneio {

margin-left: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;

}



/* PARTE DO FOOTER */


footer{
  position: relative;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: aliceblue;
  margin-top: 40px;
  
}

footer h1{
  color: rgb(255, 123, 0);
}

#footer_content {

padding: 30px; 
padding-bottom: 80px;
background-color:rgb(158, 8, 8);
display: grid;  
grid-template-columns: repeat(5, 1fr);
gap: 100px;
}


#logofooter {


  height: 72%;
  width: 72%;
  object-fit: cover;


}