/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }


/* Base */
body {
  background: linear-gradient(rgb(5, 5, 10), rgb(16, 13, 36));
  color: #680909;
  height: 220vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}


/* Header */
.header {
  width: 100%;
  height: 64px;
  background: rgb(158, 8, 8);
  border-bottom: 3px solid rgb(38, 38, 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap: 12px;
}


.menu-button{


  background: none;
  border: none;
}


.menu-button img { width: 34px; height: 34px; display: block; background: none; border: none; }


.logo img { height: 52px; width: 170px; display: block; position: relative; right: 45px;}


.header-center-buttons {
  
  position: relative;
  right: 72px;
  display: flex;
  background: yellowgreen;
  max-width: 80%;
  margin-left: -99px;
  margin-right: -100px;
  gap: 15px;
  flex: 1;
  justify-content: center;

}


.header-center-buttons button {
  background: #000;
 position: relative;
 
  border: 10px solid #b61313;
  color: #ffffff;
  padding: 6px 14px;


  cursor: pointer;
  font-size: 13px;
  transition: 1s;
}
.header-center-buttons button:hover {
  background: #a31313;
  transform: scale(1.2);
}


.user-icon img { width: 34px; height: 34px; display: block; }


/* Carrossel */
.hero {
  width: 100%;
  margin: 22px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


/* Container do carrossel */
.carousel {

  position: relative;
  width: min(50%);
  height: min(550px);
  box-shadow: rgb(255, 0, 0) 1px 1px 30px;
 top: 12px;
  overflow: hidden;
  border-radius: 16px;
  border: 4px solid rgb(38, 38, 48);
  background: rgb(38, 38, 48);
}


/* Cada slide */
.carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: ease-in-out 0.5s;
  border-radius: 16px;
}




.carousel-slide.active { opacity: 1; }




/* A IMAGEM DO SLIDE (SEM CORTAR) */
.carousel-slide img {
 
  position: relative;          
  width: 100%;
  height: 100%;
  object-fit: fill;          
  border-radius: 16px;


}




/* BOTÕES DE NAVEGAÇÃO */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 8px;
    background: rgba(0,0,0,0.55);
    transition: 0.25s;
    z-index: 10;      
}


/* Hover */
.carousel-button:hover {
    background: rgba(255, 0, 0, 0.568);
    transform: translateY(-50%) scale(1.2);
}


/* SETA ESQUERDA */
.carousel-button.prev {
    left: 10px;        
}
/* SETA DIREITA */
.carousel-button.next {
    right: 10px;      
}


@media (max-width: 700px){
    .carousel-button {
        font-size: 28px;
    }
    .carousel-button.prev { left: 4px; }
    .carousel-button.next { right: 4px; }
}


/* ===== INDICADORES (bolinhas) ===== */
#carouselIndicators {

    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

}


#carouselIndicators span {

  position: relative;
  top: 15px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: solid rgb(141, 131, 131) 2px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}


#carouselIndicators span.active {
   
    background: #ff0000;  
    border: solid white 1px;
    transform: scale(1.4);
    transform: border-color black;
    box-shadow: #ff0000 0px 4px 15px;
}


.logo {
position: relative;
background-color: none;
width: fit-content;
right: 60px;
}
